<mat-dialog-actions class="actions">
  <button mat-icon-button *ngIf="data.id === undefined" (click)="add()"><mat-icon>save</mat-icon></button>
  <button mat-icon-button *ngIf="data.id !== undefined" (click)="update()"><mat-icon>save</mat-icon></button>
  <button id="deleteButton" mat-icon-button *ngIf="data.id !== undefined" (click)="delete(data.id)"><mat-icon>delete</mat-icon></button>
  <div class="spacer"></div>
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</mat-dialog-actions>
<div style="display:flex;align-items: center;">
  <div
    (click)="$event.stopPropagation();"
    class="emoji-picker-wrapper"
    *ngIf="this.showPicker">
    <emoji-mart 
      title="Pick your emoji…" 
      (emojiClick)="addEmoji($event)"
      emoji="point_up">
    </emoji-mart>
  </div>
  <div [class]="getPickerFieldClass()" (click)="toggleEmojiPicker($event)">
    <button style="color: gray;" matSuffix mat-icon-button  *ngIf="data.emoji !== undefined"> 
      <span style="font-size:24px">{{data.emoji}}</span>
    </button>
    <button style="color: gray;" *ngIf="data.emoji == undefined" matSuffix mat-icon-button > 
      <mat-icon>insert_photo</mat-icon>
    </button>
  </div>
  <h2 mat-dialog-title>{{data.name}}</h2>
</div>
<mat-dialog-content>
<div class="categoryFields">
  <mat-form-field class="categoryModalField">
      <input matInput placeholder="Name" [(ngModel)]="data.name"/>
    </mat-form-field>
    <mat-form-field class="categoryModalField">
      <input matInput placeholder="Notes" [(ngModel)]="data.notes"/>
    </mat-form-field>
    <mat-form-field class="categoryModalField">
      <mat-label>Budgeted</mat-label>
      <span matPrefix class="money-prefix">$&nbsp;</span>
      <input matInput type="text" inputmode="decimal" (blur)="commitBudgeted()" [ngModel]="budgetedDisplay" (ngModelChange)="onBudgetedInput($event)" />
    </mat-form-field>
    <mat-form-field class="categoryModalChips">
      <mat-chip-grid #chipList>
        <mat-chip *ngFor="let keyword of data.keywords" [selectable]="selectable"
                [removable]="removable" (removed)="removeKeyword(keyword)">
          {{keyword}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input #chipInput placeholder="Keywords"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addKeyword($event)" />
      </mat-chip-grid>
  </mat-form-field>
  </div>
</mat-dialog-content>
