.categoryModalField {
    padding: 10px;
}

.categoryModalChips {
    width: 50%;
    padding: 10px;
}

.money-prefix {
    color: rgba(0, 0, 0, 0.54);
}

.mat-dialog-title {
    margin: 0px;
}

::ng-deep .mat-dialog-container {
    padding: 0px 24px 24px 24px;
}

::ng-deep .mat-dialog-actions {
    padding: 0px 0px 32px 0px;
}

// button {
//     margin-right: 5px;
// }  

.categoryFields {
    flex-direction: column;
    overflow: auto;
    mat-form-field {
        width: 90% !important;
    }
 }

.actions {
    .spacer {
        flex: 1;
    }
}

.emoji-picker-wrapper {    
    transform: scale(0.75);
    position: absolute;
    background: white;
    z-index: 3;
    left: 1%;
    top: 10%;
}

.image-picker-selected {
    border: 3px solid dodgerblue;
    border-radius: 25px;
    margin-right: 10px;
}

.image-picker-unselected {
    border: 3px solid transparent;
    border-radius: 25px;
    margin-right: 10px;
}

@media(max-width: 1000px) {
    .categoryFields {
       flex-direction: column;
       overflow: auto;
       mat-form-field {
           width: 90% !important;
       }
    }
}
