
.userImage {
    border-radius: 25px;
    cursor: pointer;
}

.loginControls {
    display: flex;
    .name {
        padding-top: 10px;
        padding-right: 20px;
    }
    .badge {
        margin-left: -10px;
    }
}

@media(max-width: 1000px) {
    .name {
        display:none;
    }
  }