.import-csv-component {
    padding:1em;
    height:auto;

    .import-csv-card {
        padding: 2em;
    }

    input { 
        padding: 10px
    }
    
    mat-selection-list {
        width:50vw;
    }

    .import-summary {
        .mat-list-option {
            margin-left: 20px;
            height: 58px;
        }
        .import-list {
            margin-bottom: 30px;
        }
    }

    .transaction-list-item {
        display: flex;
        flex-direction: column;
        .top-line {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .bottom-line {
            font-size: 14px;
            margin-top: 5px
        }
    }
    

}

