
<div class="import-csv-component">

    <mat-card class="import-csv-card">
        <mat-card-title>
            Import transactions from CSV
        </mat-card-title>
        <mat-card-content>
                <div *ngIf="isStart()" class="file-controls">
                    <input id="fileUpload" #fileUpload type="file" (change)="GetFiles($event)" hidden/>
                    <button matButton color="primary" (click)="fileUpload.click()">Choose CSV file</button>
                </div>
                <div class="import-summary" *ngIf="isReview()">
                    <mat-selection-list class="import-list" role="list" #summary>
                        <h3>{{importSummary.title}}</h3>
                        <mat-list-item role="listitem">
                            {{importSummary.readyTransactions.length 
                                + importSummary.duplicateTransactions.length}} charges found in sheet:
                        </mat-list-item>
                        <mat-list-option 
                            *ngFor="let t of importSummary.readyTransactions" 
                            [value]="t"
                            selected = "true"
                            checkboxPosition="before"
                            role="listitem">
                            <div class="transaction-list-item">
                                <div class="top-line">
                                    <div>{{t.date}}</div>
                                    <div>{{t.amount}}</div>
                                </div>
                                <div class="bottom-line">
                                    {{t.description}}
                                </div>
                            </div>
                        </mat-list-option>
                        <mat-list-item role="listitem">
                            {{importSummary.duplicateTransactions.length}} duplicate charge found:
                        </mat-list-item>
                        <mat-list-option
                            *ngFor="let t of importSummary.duplicateTransactions"
                            [value]="t"
                            checkboxPosition="before"
                            role="listitem">
                            <div class="transaction-list-item">
                                <div class="top-line">
                                    <div>{{t.date}}</div>
                                    <div>{{t.amount}}</div>
                                </div>
                                <div class="bottom-line">
                                    {{t.description}}
                                </div>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>

                    <div *ngIf="summary.selectedOptions.selected.length > 0">
                        <button mat-raised-button color="primary" (click)="ImportSelected(summary.selectedOptions.selected)">
                            Import {{summary.selectedOptions.selected.length}} charge(s)
                        </button>
                    </div>
                </div>

                <div *ngIf="isComplete()">
                    Imported {{importSummary.transactionsImported}} transactions.
                </div>
            </mat-card-content>
    </mat-card>

</div>


