<div class="categoryTableComponent">

  <mat-card class="categoryTableCard">
      <mat-card-content class="">
          <table mat-table #table [dataSource]="dataSource" class="categoryTable" matSort aria-label="Elements">
            <!-- id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell class="desktop" *matCellDef="let row">
                  <button mat-icon-button (click)="editCategory(row)">
                    <mat-icon class="edit-category-button">edit</mat-icon>
                  </button>
                </td>
            </ng-container>
            
            <!-- Category Column -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
              <td mat-cell class="valueCategory" *matCellDef="let row">
                <mat-form-field>
                  <input matInput placeholder="Category" value="{{row.name}}" (blur)="updateValueOnChange($event.target.value, row.id, 'name')"/>
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
        
            <!-- Budgeted Column -->
            <ng-container matColumnDef="budgeted">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Budgeted</th>
              <td mat-cell class="valueAmount" *matCellDef="let row">
                <mat-form-field>
                  <input matInput placeholder="Budgeted" value="{{row.budgeted}}" (blur)="updateValueOnChange($event.target.value, row.id, 'budgeted')"/>
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
        
            <!-- Keyword Column -->
            <ng-container matColumnDef="keywords">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Keywords</th>
              <td mat-cell class="keyword-chip-list" *matCellDef="let row">
                  <mat-form-field>
                    <mat-chip-list #chipList>
                      <mat-chip *ngFor="let keyword of row.keywords" [selectable]="selectable"
                              [removable]="removable" (removed)="removeKeyword(keyword, row.id)">
                        {{keyword}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="Keywords"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addKeyword($event, row.id)">
                    </mat-chip-list>
                  </mat-form-field>
        
                </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </mat-card-content>

</mat-card>
</div>


<div card class="paginator">
    <mat-form-field class="controlsFilter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <mat-paginator #paginator
      [length]="CATsvc.categories.getValue().length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50]">
    </mat-paginator>
    <button 
      class="controlsAddButton" 
      mat-icon-button color="primary" 
      matToolTop="Add new category"
      (click)="addCategory()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button      
      matTooltip="Copy these categories" 
      [matTooltipPosition]="'below'" 
      (click)="openCopyCategoryDialog()"
      class="copy-button">
      <mat-icon>fast_forward</mat-icon>
  </button>
</div>