.categoryTable {
    .mat-cell {
        padding:8px;
        border-bottom: none;
    } 
    ::ng-deep td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
        padding:8px;
    }
    .valueCategory {
        width:15%;
    }
    .valueAmount {
        width:5%;
    }
    .keyword-chip-list {
        width:65%;
        mat-form-field {
            width:100%
        }
    }
    .mat-standard-chip {
        font-size: 12px;
    }
    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0em;
        ::ng-deep .mat-form-field-underline {
            position: unset;
        }
    }
    
}

.categoryTableComponent {
    padding:1em;
    mat-form-field {
        padding-right:1em;
    }
}


.tableTitle { 
    mat-form-field {
        width:40%;
    }
}

mat-card-title {
    button {
        float:right;
    }
}

.categoryTableCard {
    height: 80vh;
    height: calc(100vh - 250px);
    overflow-y: scroll;
}

.paginator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    ::ng-deep .mat-paginator {
        background-color: transparent;
    }
    .controlsFilter {
        width: 35%;
    }
    max-height: 70px;
    .copy-button {
        color: orangered;
    }
}


@media(max-width: 1000px) {


    .categoryTable {

        width: 100%;

        .mat-header-row {
            display: none;
        }
        
        tr { 
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            height: unset;
            width:93%;    
            border-left: 1px solid blue;
            margin-bottom: 25px;
            .description {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* autoprefixer: off */
                -webkit-box-orient: vertical;
            }
        }
      
        .mat-cell {
            width: 100% !important;
            padding: 18px 0px 0px 0px;
        }
    
        .mat-form-field {
            width: 100%;
        }
    
        .mobile {
            display: flex ;
            float: right;
        }
    
        .actions{
            .mat-icon-button {
                display: flex;
                float: right;
            }
        }
    
        .desktop {
            display: none;
        }
    }

    .paginator {
        ::ng-deep .mat-paginator-page-size {
            display: none !important;
        }
        ::ng-deep .mat-paginator-range-label {
            display: none !important;
        }
      }

  }