.categoryTable {
    .mat-cell {
        padding:8px;
    } 
    /deep/ td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
        padding:8px;
    }
    .valueCategory {
        width:15vw;
    }
    .valueAmount {
        width:10vw;
    }
    .keyword-chip-list {
        width:50vw
    }
    /deep/ .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0em;
        /deep/ .mat-form-field-underline {
            position: unset;
        }
    }
    
}

.categoryTableDiv {
    padding:10px;
}


.tableTitle { 
    mat-form-field {
        width:40%;
    }
    .material-icons {
        font-size: 36px
    }
}

mat-card-title {
    button {
        float:right;
    }
}
