.categoryTable {
    .mat-cell {
        padding:8px;
        border-bottom: none;
    } 
    .mat-mdc-cell {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mat-mdc-cell,
    .mdc-data-table__cell {
        border-bottom: none;
    }
    ::ng-deep td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
        padding:8px;
    }
    .percent {
        .percentage {
            color: gray;
            margin-left: 10px;
        }
        width: 2%;
        .visual {
            width: 100%;
            .total-bar {
                border-bottom: 7px solid green;
                width: 100%;
            }
            .amount-bar {
                border-bottom: 3px solid white;
                transform: translateY(-5px);
            }
        }
    }
    .category-name {
        width:15%;
        cursor: pointer;
    }
    .category-notes {
        width:15%;
        font-style: italic;
        font-size: smaller;
    }
    .category-amount {
        width:5%;
        font-weight: bold;
    }
    .category-image {
        width:5%;
        text-align: center;
        font-size: 18px;
    }
    .keyword-chip-list {
        width:50%;
        mat-form-field {
            width:100%
        }
    }
    .mat-standard-chip {
        font-size: 12px;
    }
    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0em;
        ::ng-deep .mat-form-field-underline {
            position: unset;
        }
    }
    
}

.categoryTableComponent {
    padding:1em;
    mat-form-field {
        padding-right:1em;
    }
}


.tableTitle { 
    mat-form-field {
        width:40%;
    }
}

mat-card-title {
    button {
        float:right;
    }
}

.categoryTableCard {
    height: 80vh;
    height: calc(100vh - 250px);
    overflow-y: scroll;
}

.edit-category-button {
    font-size: 20px;
}

.mobile {
    display: none;
}


.paginator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    ::ng-deep .mat-paginator {
        background-color: transparent;
    }
    ::ng-deep .mat-mdc-paginator-outer-container {
        background-color: #fafafa;
    }
    .controlsFilter {
        width: 35%;
    }
    max-height: 70px;
    .copy-button {
        color: #3b8d5f;
    }
    .add-button {
        color: #3b8d5f;
    }
}


@media(max-width: 1000px) {


    .categoryTable {

        width: 100%;

        .mat-header-row,
        .mat-mdc-header-row {
            display: none;
        }
        
        tr,
        .mat-row,
        .mat-mdc-row,
        .mdc-data-table__row { 
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            height: unset;
            width:93%;    
            margin-bottom: 25px;
            .description {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* autoprefixer: off */
                -webkit-box-orient: vertical;
            }
        }
      
        .mat-cell,
        .mat-mdc-cell {
            width: 100% !important;
            padding: 0px;
            border-bottom: none;
            display: block;
        }
    
        .mat-form-field {
            width: 100%;
        }
    
        .mobile {
            display: flex ;
            float: right;
        }

        .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            .budgeted {
                font-weight: bold;
            }
            .percentage {
                margin-right: 15px;
                color: gray;
            }
        }
    
        .actions{
            .mat-icon-button {
                display: flex;
                float: right;
            }
        }
    
        .desktop {
            display: none;
        }

        .category-notes {
            margin-top: 10px;
        }

    }

    .paginator {
        ::ng-deep .mat-mdc-paginator-page-size,
        ::ng-deep .mat-mdc-paginator-page-size-label,
        ::ng-deep .mat-mdc-paginator-range-label,
        ::ng-deep .mat-paginator-page-size,
        ::ng-deep .mat-paginator-range-label {
            display: none !important;
        }
      }

  }
