
.transactionTable {
    width:100%;
    background-color: transparent;

    .mat-cell, .mat-header-cell {
        padding: 8px;
    }

    .actions {
        width:2%;
        .icons {
            margin-right: 8px;
            ::ng-deep .mat-icon {
                width: 20px;
                height: unset;
                max-height: 20px;
                margin-right: 5px;
                transform: translateY(1px);
            }
        }
    }

    .date {
        width:7%;
    }

    .amount {
        width: 12%;
        font-weight: 600;
        .split-icon {
            transform: rotate(90deg) translateX(3px);
        }
    }

    .description {
        // width:45%;
        min-height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        .info-image {
            max-height: 16px;
            margin-right: 18px;
            min-width: 16px;
        }
    }

    .info {
        width: 10%;
        display: none;
    }
    
    .split-icon {
        transform: rotate(90deg) translateX(-1px);
    }

    .notes {
        width:25%;
        mat-form-field {
            width: 100%
        }
    }

    .category {
        width:13%;
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0em;
        ::ng-deep .mat-form-field-underline {
            position: unset;
        }
    }

}

.transactionTableComponent {
    padding:1em;
    mat-form-field {
        padding-right:1em;
    }
    height:auto;
}

.transactionTableCard {
    height: 80vh;
    height: calc(100vh - 250px);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3f51b53b;
}

.tableTitle { 
    mat-form-field {
        width:60%;
    }
    font-size: 18px;
}

.mobile {
    display: none;
}

.mat-row, .mat-header-row {
    height:auto;
}

.mat-cell {
    border-bottom: none;
}

.infoBusiness {
    // display: flex;
    // flex-direction: column;
}

.infoBusinessMobile {
    img {
        max-height: 15px;
        margin-right: 5px;
    }
    ::ng-deep .mat-icon {
        width: 16px;
        height: unset;
        max-height: 20px;
        margin-right: 5px;
    }
}


.paginator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    ::ng-deep .mat-paginator {
        background-color: transparent;
    }
    .controlsFilter {
        width: 35%;
    }
    max-height: 70px;
    .filters-menu-button { 
        display: unset;
        z-index: 500;
    }

    .filters-wrapper {
        display: flex;
        flex-direction: column;
    }

    .filter-options-show {
        opacity: 1;
        transform:scale(1);
    }

    .filter-options-hide {
        opacity: 0;
        transform: scale(0);
    }

    .filter-options {
        transition:all 0.3s ease;
        transform-origin: 50% 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        border-radius: 15px;
        position: absolute;
        bottom: 75px;
        backdrop-filter: blur(1em)
    }

    .total  {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        border-radius: 25px;
        color: white;
        padding: 5px 10px 5px 10px;
    }
    .add-button {
        color: green;
    }
  }


@media(max-width: 1000px) {

    .tableTitle {
        display: none;
    }

    .transactionTable{

        .mat-header-row {
            display: none;
          }
        
          tr { 
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            width:93%;
            .description {
              min-height: auto;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              /* autoprefixer: off */
             -webkit-box-orient: vertical;
            }
          }
      
          .mat-cell {
              width: 100% !important;
              padding: 0px;
          }
      
          .mat-form-field {
              width: 100%;
          }
      
          .mobile {
              display: flex ;
              float: right;
          }
      
          .actions{
              .mat-icon-button {
                  display: flex;
                  float: right;
              }
          }
    }

    .desktop {
        display: none;
    }

    .paginator {
        ::ng-deep .mat-paginator-page-size {
            display: none !important;
        }
        ::ng-deep .mat-paginator-range-label {
            display: none !important;
        }
      }

  }