<div class="transactionTableComponent">

<mat-card class="transactionTableCard">
  <mat-card-content>
    <table mat-table #table [dataSource]="dataSource" [trackBy]="trackById" class="transactionTable" matSort aria-label="Elements">
      <!-- id Column -->
      <ng-container matColumnDef="id">
          <th mat-header-cell class="actions" *matHeaderCellDef mat-sort-header></th>
          <td mat-cell class="actions desktop" *matCellDef="let row">
              <!-- <button mat-icon-button (click)="editTransaction(row)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button (click)="deleteTransaction(row)"><mat-icon>delete</mat-icon></button> -->
              <span class="icons">
                <mat-icon *ngIf="row.status == 'Pending'" style="color:orange;font-size: 1.4em">error_outline</mat-icon>
                <mat-icon *ngIf="row.status != 'Pending'" style="color:green;font-size: 1.4em">check_circle_outline</mat-icon>
              </span>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      
      <div>
        <!-- date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell class="date" *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell class="date" *matCellDef="let row">
            {{row.date}}
            <span class="mobile infoBusinessMobile">
              <img src="{{getIconFromUtils(row.description)}}"/>
              <mat-icon *ngIf="row.status == 'Pending'" style="color:orange;font-size: 1.2em">error_outline</mat-icon>
              <mat-icon *ngIf="row.status != 'Pending'" style="color:green;font-size: 1.2em">check_circle_outline</mat-icon>
              <mat-icon *ngIf="row.xId != null" class="split-icon" style="color:purple;font-size: 1.2em">call_split</mat-icon>
              {{row.amount | currency}}
            </span>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell class="amount" *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell class="amount desktop" *matCellDef="let row">
            <span class="infoBusiness desktop">
              {{row.amount | currency}}
              <mat-icon *ngIf="row.xId != null" class="split-icon" style="color:purple;font-size: 1.2em">call_split</mat-icon>
            </span>
          </td>
          <td mat-footer-cell *matFooterCellDef></td> 
        </ng-container>
      </div>

      <!-- description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell class="description" *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell class="description" (click)="editTransaction(row)" *matCellDef="let row">
          <img class="info-image desktop" src="{{getIconFromUtils(row.description)}}"/>
          <span class="desktop-height">{{row.description}}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      
      <!-- info Column -->
      <ng-container matColumnDef="info">
        <th mat-header-cell class="info" *matHeaderCellDef mat-sort-header></th>
        <td mat-cell class="info" *matCellDef="let row">
          <!-- Also the transaction status? (Split, etc) -->
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- notes Column -->
      <ng-container matColumnDef="notes">
        <th mat-header-cell class="notes" *matHeaderCellDef mat-sort-header>Notes</th>
        <td mat-cell class="notes desktop" *matCellDef="let row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Notes" value="{{row.notes}}" (blur)="updateValueOnChange($event.target.value, row.id, 'notes')"/>
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell class="category" *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell class="category" *matCellDef="let row">
          <mat-form-field>
            <mat-select placeholder="Category" [value]="row.category">
              <mat-option (click)="updateValueOnChange('', row.id, 'category')"></mat-option>
              <mat-option *ngFor="let category of Tsvc.categories | async" [value]="category.name" (click)="updateValueOnChange(category.name, row.id, 'category')">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> 
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row 
        [@rowsEnterLeave] 
        [@rowsColor]="row.changeAction" 
        (@rowsColor.done)="rowsColorDone(row)" 
        *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </mat-card-content>
</mat-card>
</div>


<div class="paginator">
  <div class="filters-wrapper">
    <div [class]="'filter-options ' + (bToggleFilter.getValue() ? 'filter-options-show' : 'filter-options-hide')">
      <button mat-icon-button (click)="togglePendingVisibility()"
      [matTooltip]="(bShowPending.getValue() ? 'Hide' : 'Show') + ' pending'" matTooltipPosition="after">
          <mat-icon [style.color]="bShowPending.getValue() ? 'darkorange' : 'gray'">error_outline</mat-icon>
      </button>
    
      <button mat-icon-button (click)="toggleStartingBalanceVisibility()" 
      [matTooltip]="(bShowStartingBalances.getValue() ? 'Hide' : 'Show') + ' starting balances'" matTooltipPosition="after">
          <mat-icon [style.color]="bShowStartingBalances.getValue() ? 'darkorange': 'gray'">account_balance_wallet</mat-icon>
      </button>
    
      <button mat-icon-button (click)="toggleUncategorizedFilter()" 
      [matTooltip]="(bOnlyUncategorized.getValue() ? 'Remove filter' : 'Show only uncategorized') " matTooltipPosition="after">
          <mat-icon [style.color]="bOnlyUncategorized.getValue() ? 'darkorange': 'gray'">scatter_plot</mat-icon>
      </button>
    </div>
  
    <button class="filters-menu-button" mat-icon-button (click)="toggleFilterMenu()" 
    [matTooltip]="(bToggleFilter.getValue() ? 'Hide' : 'Show') + ' filters'" matTooltipPosition="after">
        <mat-icon [style.color]="bToggleFilter.getValue() ? 'darkorange' : 'gray'">filter_alt</mat-icon>
    </button>
  </div>

  <mat-form-field class="controlsFilter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <div class="total desktop" [style.background]="this.getTotalColor()">{{getTotal() | currency}}</div>

  <mat-paginator #paginator
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>
</div>


