<div class="transactionTableComponent">

<mat-card class="transactionTableCard">
  <mat-card-title class="tableTitle">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Transactions">
        </mat-form-field>
  </mat-card-title>
  <mat-card-content>
    <table mat-table #table [dataSource]="dataSource" [trackBy]="trackById" class="transactionTable" matSort aria-label="Elements">
      <!-- id Column -->
      <ng-container matColumnDef="id">
          <th mat-header-cell class="actions" *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell class="actions desktop" *matCellDef="let row">
              <button mat-icon-button (click)="editTransaction(row.id)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button (click)="deleteTransaction(row.id)"><mat-icon>delete</mat-icon></button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
          <th mat-header-cell class="status" *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell class="status desktop" *matCellDef="let row">
              <button *ngIf="row.status == 'Pending'" mat-icon-button><mat-icon style="color:orange">warning</mat-icon></button>
              <button *ngIf="row.status != 'Pending'" mat-icon-button><mat-icon style="color:green">check_circle_outline</mat-icon></button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      
      <div>
        <!-- date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell class="date" *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell class="date" *matCellDef="let row">
            {{row.date}}
            <span class="mobile">
              <mat-icon *ngIf="row.status == 'Pending'" style="color:orange;font-size: 1.2em">warning</mat-icon>
              <mat-icon *ngIf="row.status != 'Pending'" style="color:green;font-size: 1.2em">check_circle_outline</mat-icon>
              {{row.amount | currency}}
            </span>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell class="amount" *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell class="amount desktop" *matCellDef="let row">
            {{row.amount | currency}}
          </td>
          <td mat-footer-cell *matFooterCellDef></td> 
        </ng-container>
      </div>

      <!-- description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell class="description" *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell class="description" (click)="editTransaction(row.id)" *matCellDef="let row">
          {{row.description}}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- notes Column -->
      <ng-container matColumnDef="notes">
        <th mat-header-cell class="notes" *matHeaderCellDef mat-sort-header>Notes</th>
        <td mat-cell class="notes desktop" *matCellDef="let row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Notes" value="{{row.notes}}" (blur)="valueChanged($event, row.id, 'notes')"/>
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell class="category" *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell class="category" *matCellDef="let row">
          <mat-form-field>
            <mat-select placeholder="Category" [value]="row.category">
              <mat-option (click)="TransactionCategoryChanged(row.id, '')"></mat-option>
              <mat-option *ngFor="let category of Tsvc.categories | async" [value]="category.name" (click)="TransactionCategoryChanged(row.id, category.name)">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> 
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row 
        [@rowsEnterLeave] 
        [@rowsColor]="row.changeAction" 
        (@rowsColor.done)="rowsColorDone(row)" 
        *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>


  
  
  </mat-card-content>
</mat-card>
</div>

<mat-card class="tableControls">
  <mat-card-content>
    <span class="total">{{dataSource.total | currency}}</span>
    <mat-paginator #paginator
      [length]="Tsvc.transactions.getValue().length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50]">
    </mat-paginator>
    <button class="add-fab" mat-mini-fab color="primary" (click)="addTransaction()"><mat-icon>add</mat-icon></button>
  </mat-card-content>
</mat-card>


