
<mat-card class="margin">
  <h4>Expected: {{this.incomeData.category.budgeted | currency}}</h4>
  <h4>Total Budgeted: {{totalBudgeted | currency}}</h4>
  <h4>Actual: {{income | currency}}</h4>
  <h4>Spent: {{spent | currency}}</h4>
</mat-card>

<div class="margin">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of reportCats">
      <mat-expansion-panel-header>
        <mat-panel-title><span style="padding-top: 5px;">{{item.category.name}} <br /> ({{item.category.budgeted | currency}})</span></mat-panel-title>
        <mat-panel-description [ngClass]="{'red': item.category.budgeted - item.category.spent < 0, 'green': item.category.budgeted - item.category.spent >= 0}">
          <p style="font-weight: bold">{{item.category.budgeted - item.category.spent | currency}}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list dense>
        <mat-list-item *ngFor="let trans of item.transactions">
          <p matLine>
            <span>{{trans.date}}</span>
            <span style="float:right;font-weight: bold;">{{trans.amount | currency}}</span>
          </p>
          <p matLine>{{trans.description}} &nbsp;</p>
          <p matLine *ngIf="trans.notes.length > 0" style="font-style: italic">{{trans.notes}} &nbsp;</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
