
// .cardList {
    
// }

// .catCard {
//     display: inline-block;
//     margin: 10px;
//     width: 250px;
//     .catAmounts {
//         text-align: center;
//     }
// }

.red {
    color: red;
}

.green {
    color: green;
}

.mat-expansion-panel-header-description {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}