.margin {
    margin: 10px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.mat-expansion-panel-header-description {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}

/deep/ .mat-list-text {
    border-left: 2px solid blue;
    padding-left: 5px !important;
}