.custom-dialog-confirm {
    transform: translateX(-15px);
    width: 110%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    button {
        transform: scale(.8);
    }
}

.title {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .indicator-icon {
        width: 10%;
        margin-right: 15px;
    }
}
