.custom-dialog-confirm {
    transform: none;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
}

.actions {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    button {
        transform: scale(.85);
    }
}

.title {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 14px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .message {
        text-align: center;
    }
    .indicator-icon {
        width: auto;
        margin-right: 6px;
    }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 25px;
}
