.sidenav {
  width: 70px;
  display: flex;
  flex-direction: column;
  height: 100%;
  .sidenav-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .mat-nav-list {
    flex: 1 1 auto;
  }
  .sidenav-user {
    display: flex;
    justify-content: center;
    padding: 8px 0 12px 0;
    width: 100%;
    margin-top: auto;
    ::ng-deep .loginControls {
      justify-content: center;
    }
    ::ng-deep .loginControls .name {
      display: none;
    }
  }
  .mat-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mat-nav-list a.active {
    background-color: #3b8d5f !important;
    color: white;
    mat-icon {
      color: white !important;
    }
  }
  .mat-nav-list a {
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  ::ng-deep .mat-mdc-list-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: center !important;
  }
  ::ng-deep .mat-mdc-list-item .mdc-list-item__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  ::ng-deep .mat-mdc-list-item .mat-mdc-icon-button {
    transform: translateX(2px);
  }
  .mat-nav-list a:hover {
    background-color: rgba(0, 0, 0, 0.08) !important;
  }

  /* Remove circular icon-button hover state; keep list-item rectangle */
  ::ng-deep .mat-mdc-icon-button .mat-mdc-button-persistent-ripple,
  ::ng-deep .mat-mdc-icon-button .mat-mdc-button-ripple,
  ::ng-deep .mat-mdc-icon-button .mdc-icon-button__ripple {
    display: none !important;
  }
  ::ng-deep .mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before,
  ::ng-deep .mat-mdc-icon-button .mat-mdc-button-persistent-ripple::after,
  ::ng-deep .mat-mdc-icon-button .mdc-icon-button__ripple::before,
  ::ng-deep .mat-mdc-icon-button .mdc-icon-button__ripple::after {
    background-color: transparent !important;
    opacity: 0 !important;
  }

  /* Ensure the list item itself owns the hover/active rectangle */
  ::ng-deep .mat-mdc-list-item.active {
    background-color: #3b8d5f !important;
    border-radius: 0 !important;
  }
  ::ng-deep .mat-mdc-list-item.active mat-icon {
    color: white !important;
  }
  ::ng-deep .mat-mdc-list-item:hover {
    background-color: rgba(0, 0, 0, 0.08) !important;
    border-radius: 0 !important;
  }
  ::ng-deep .mat-mdc-list-item.active:hover {
    background-color: #3b8d5f !important;
  }
}

.action {
  width: 100%;
}

.mat-toolbar {
  border-radius: 4px;
}

.mat-drawer-inner-container {
  border-radius: 5px 0px 5px 0px;
  mat-toolbar {
    display:hidden !important;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background-color: #3b8d5f;
  z-index: 500;
}

.spacer {
  flex: 1 1 auto;
}

.spacer-small {
  flex: .5 1 auto;
}

.save-status {
  display: flex;
  align-items: center;
  height: 100%;
  flex: .25 1 auto;
  min-width: 25%;
  .mat-icon {
    position: relative;
    font-size: 28px;
    height: 28px;
    width: 28px;
  }
  .spinner {
    width: 28px;
    height: 28px;
  }
  ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
      stroke: white;
  }
  .save-description {
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
    margin-right: 15px;
    position: relative;
  }
}


.mat-toolbar {
  // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  height: 75px;
  margin: 10px;
  width: auto;
}


@media(max-width: 550px) {
  .desktop {
    display: none;
  }
  app-month-year-picker {
    margin-bottom: 10px;
  }
}

@media(max-width: 750px) {
  .tablet {
    display: none;
  }
  .save-status {
    min-width: 40px;
  }
}
