<mat-sidenav-container fullscreen class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item routerLink="/"><button mat-icon-button matTooltip="Transaction List" [matTooltipPosition]="'right'"><mat-icon>view_list</mat-icon></button></a>
      <a mat-list-item routerLink="/categories"><button mat-icon-button matTooltip="Categories" [matTooltipPosition]="'right'"><mat-icon>category</mat-icon></button></a>
      <a mat-list-item routerLink="/csv"><button mat-icon-button matTooltip="Import From CSV" [matTooltipPosition]="'right'"><mat-icon>import_export</mat-icon></button></a>
      <!-- <a mat-list-item routerLink="/reports"><button mat-icon-button matTooltip="Reports" [matTooltipPosition]="'right'"><mat-icon>show_chart</mat-icon></button></a> -->
      <a mat-list-item routerLink="/summary"><button mat-icon-button matTooltip="Summary" [matTooltipPosition]="'right'"><mat-icon>assignment</mat-icon></button></a>
      <hr />
      <button 
        mat-icon-button 
        class="action"
        matTooltip="Undo last action" [matTooltipPosition]="'right'" 
        [disabled] = "service.actionStack.length == 0 || service.actionStackIndex == service.actionStack.length"
        (click)="undo()" >
        <mat-icon>undo</mat-icon>
      </button>
      <button 
        mat-icon-button 
        class="action" 
        matTooltip="Redo last action" [matTooltipPosition]="'right'" 
        [disabled] = "service.actionStackIndex == 0"
        (click)="redo()" >
        <mat-icon>redo</mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"><span class="desktop">Budget App</span></span>
      <app-month-year-picker style="height:inherit"></app-month-year-picker>
      <span class="spacer"></span>
      <app-user-login></app-user-login>
    </mat-toolbar>
    <div style="height:100%">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
