<div class="copyCatsDiv">
  
<mat-form-field>
  <input matInput [matDatepicker]="dp_copy" placeholder="Copy to Month/Year" [formControl]="dp_copyForm">
  <mat-datepicker-toggle matSuffix [for]="dp_copy"></mat-datepicker-toggle>
  <mat-datepicker #dp_copy
                  startView="year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp_copy)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>

<button mat-raised-button color="warn" (click)="copyCategories()">Go for it!</button>

</div>