
mat-form-field {
    padding: 10px;
}

::ng-deep .pickerDiv {
    .material-icons {
        font-size:34px;
    }
    .mat-datepicker-toggle {
        color: white;
    }
}

@media(max-width: 600px) {
    .pickerDiv {
        ::ng-deep .mat-form-field-infix {
            width:4em !important;
        }
        ::ng-deep .mat-form-field-label-wrapper {
            display:none !important;
        }
    }
    .navigation-arrow {
        display: none;
    }
}