
mat-form-field {
    padding: 10px;
    width: 140px;
}

::ng-deep .pickerDiv {
    display: flex;
    align-items: center;
    .material-icons {
        font-size:34px;
    }
    .mat-datepicker-toggle {
        color: black;
    }
    .navigation-arrow mat-icon {
        color: white;
    }
    .mat-mdc-form-field-infix {
        width: 6.5em;
    }
}

@media(max-width: 600px) {
    .pickerDiv {
        ::ng-deep .mat-form-field-infix {
            width:4em !important;
        }
        ::ng-deep .mat-form-field-label-wrapper {
            display:none !important;
        }
    }
    .navigation-arrow {
        display: none;
    }
}
