<mat-dialog-actions>
  <button mat-icon-button *ngIf="data[0].id === undefined" (click)="Add()"><mat-icon>save</mat-icon></button>
  <button mat-icon-button *ngIf="data[0].id !== undefined" [disabled]="origTotal !== newTotal" (click)="Update()"><mat-icon>save</mat-icon></button>
  <button mat-icon-button class="rotateIcon" *ngIf="data[0].id !== undefined" (click)="Split()"><mat-icon>call_split</mat-icon></button>
  <button mat-icon-button *ngIf="data[0].id !== undefined" (click)="deleteTransaction(data[0].id)"><mat-icon>delete</mat-icon></button>
  <div class="splitTotal" *ngIf="data[0].xId != null">
    <div class="total">{{this.origTotal.toFixed(2)}}</div>
  </div>
  <button mat-icon-button matTooltip="Totals do not Match!" [matTooltipPosition]="'right'" style="color:red;" *ngIf="origTotal != newTotal"><mat-icon>error</mat-icon></button>
</mat-dialog-actions>
<h2 class="title" mat-dialog-title>{{getTitle()}}</h2>
<br />
<mat-dialog-content>
    <div class="transactionFields" *ngFor="let t of data; index as i">
      <span class="title-span">
        <p class="item-index" *ngIf="t.xIndex != null">{{t.xIndex + 1}}</p>
        <mat-form-field class="addTransactionFieldHeader">
          <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="tmpDate[i]">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </span>
      <mat-form-field class="addTransactionFieldShort">
        <input matInput placeholder="Amount" (blur)="UpdateTotal(i)" [(ngModel)]="t.amount"/>
      </mat-form-field>
      <mat-form-field class="addTransactionField">
        <textarea matInput placeholder="Description" [(ngModel)]="t.description"></textarea>
      </mat-form-field>
      <mat-form-field class="addTransactionField">
        <textarea matInput placeholder="Notes" [(ngModel)]="t.notes"></textarea>
      </mat-form-field>
      <mat-form-field class="addTransactionField">
          <mat-select placeholder="Category" [(ngModel)]="t.category">
              <mat-option value=''></mat-option>
              <mat-option *ngFor="let category of ATsvc.categories | async" [value]="category.name">
                {{category.name}}
              </mat-option>
            </mat-select>
      </mat-form-field>
    </div>
</mat-dialog-content>