.addTransactionField {
    width:20%;
    padding:5px;
}

.addTransactionFieldShort {
    width:10%;
    padding:5px;
}

button {
    margin-right: 5px;
}

.rotateIcon {
    transform: rotate(90deg);
}

.info-card {
    width:25%;
}
.transactionFields {
    display: flex;
    flex-direction: row;
    textarea {
        resize: none;
        height: 18px;
        overflow: hidden;
    }
}

@media(max-width: 1000px) {
    
    .transactionFields {
       flex-direction: column;
       overflow: auto;
       textarea {
           resize: unset;
           height: auto;
           overflow: auto;
       }
    }

    .transactionFields {
        .addTransactionField, .addTransactionFieldShort {
            width: 100% !important;
        }
    }
}