.addTransactionField {
    width:20%;
    padding:5px;
}

.addTransactionFieldShort {
    width:10%;
    padding:5px;
}


.splitTotal {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: gray;
}

.actions {
    .spacer {
        flex: 1;
    }
}

.mat-dialog-actions:last-child {
    margin-left: auto;
  }

.total {
    float: right;
    background: #3a8d5f;
    border-radius: 25px;
    color: white;
    padding: 3px 6px 3px 6px;
}

button {
    margin-right: 5px;
}

.money-prefix {
    color: rgba(0, 0, 0, 0.54);
}

.rotateIcon {
    transform: rotate(90deg);
}

.info-card {
    width:25%;
}


.pending-delete-section {
    .hr {
        border-top: 1px dashed gray;
        opacity: .5;
        margin: 20px 0px 20px 0px;
    }
    .pending-deletes {
        transform-origin: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        .pending-delete-fields {
            display: flex;
            flex-direction: row;
            font-style: italic;
            div {
                margin-right: 25px;
            }
        }
        .delete-controls {
            margin-right: 25px;
        }
    }
}

.transactionFields {
    display: flex;
    flex-direction: row;
    transform-origin: left;
    textarea {
        resize: none;
        height: 18px;
        overflow: hidden;
    }
    .title-span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .addTransactionFieldHeader {
            flex-grow: 1;
            padding: 5px;
        }
        .item-index {
            border-radius: 50px;
            padding: 5px;
            height: 20px;
            width: 20px;
            text-align: center;
            vertical-align: center;
            font-family: "Roboto";
            background-color: dodgerblue;
            color: white;
            font-size: large;
            margin-right: 25px;
        }
    }
    .delete-controls {
        margin-top: 12px;
    }
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media(max-width: 1000px) {
    
    .transactionFields, .pending-deletes {
       flex-direction: column;
       overflow: auto;
       textarea {
           resize: unset;
           height: auto;
           overflow: auto;
       }
    }

    .transactionFields {
        .addTransactionField, .addTransactionFieldShort {
            width: 100% !important;
        }
        .addTransactionFieldHeader {
            width: 50% !important;
        }
        border-left: 1px solid blue;
        padding-left: 5px;
        margin-bottom: 45px;
        overflow: hidden;
    }

    .pending-deletes {
        border-left: 1px solid gray;
        padding-left: 5px;
        margin-bottom: 45px;
        overflow: hidden;
    }

    .pending-delete-fields {
        flex-direction: column !important;
        div {
            margin-bottom: 5px;
        }
    }

    .dummyFields {
        display: none;
    }

    .splitTotal {
        width: 25%;
        mat-form-field {
            width: 100%
        }
    }

    .delete-controls {
        margin-top: 0px !important;
        margin-bottom: 12px;
    }


}
