.addTransactionField {
    width:20%;
    padding:5px;
}

.addTransactionFieldShort {
    width:10%;
    padding:5px;
}

button {
    margin-right: 5px;
}

.rotateIcon {
    transform: rotate(90deg);
}

.info-card {
    width:25%;
}
.transactionFields {
    display: flex;
    flex-direction: row;
}

@media(max-width: 1000px) {
    
    .transactionFields {
       flex-direction: column;
    }

    .transactionFields {
        .addTransactionField, .addTransactionFieldShort {
            width: 100% !important;
        }
    }
}