

    ::ng-deep.mat-select-panel {
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(2em);
      }

    ::ng-deep.mat-menu-panel {
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(2em);
      }

    ::ng-deep.mat-datepicker-content {
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(2em);
      }

      ::ng-deep.mat-dialog-container {
          background-color: rgba(255, 255, 255, .5);
          backdrop-filter: blur(2em);
        }

        ::ng-deep.cdk-overlay-dark-backdrop {
            background: unset !important;
        }