    ::ng-deep.mat-select-panel {
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(20px);
        border-radius: 10px !important;
      }

    ::ng-deep.mat-menu-panel {
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(20px);
        border-radius: 10px !important;
      }

    ::ng-deep.mat-datepicker-content {
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(20px);
        border-radius: 10px !important;
      }

    ::ng-deep.mat-dialog-container {
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(20px);
        border-radius: 10px !important;
    }

    ::ng-deep.cdk-overlay-dark-backdrop {
        background: unset !important;
    }

    .mat-dialog-title {
      margin: 0;
    }

    ::ng-deep .mat-dialog-container {
      padding: 0px 24px 0px 24px !important;
    }

    ::ng-deep .mat-dialog-actions {
      padding: 0px 0px 32px 0px !important;
    }

    ::ng-deep .mat-dialog-content {
      font-family: 'Roboto';
    }

    ::ng-deep .mat-dialog-title {
      font: 300 20px/32px Roboto, "Helvetica Neue", sans-serif
    }