.reportCards {
    display:inline-flex;
    width:100%;
}

.chart-container {
    margin:10px;
    mat-card-title {
        button {
            float:right;
        }
    }
}

.material-icons {
    font-size: 36px
}
