/* You can add global styles to this file, and also import other style files */
@import "@ctrl/ngx-emoji-mart/picker";

:root
  --mat-button-toggle-selected-state-background-color: dodgerblue
  --mat-button-toggle-selected-state-text-color: #fff

.material-symbols-outlined
  font-variation-settings: 'FILL' 0, 'wght' 250, 'GRAD' 0, 'opsz' 24
